.chatbar_header {
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding-left:15px;
}
.chatbar_header_left {
  display: flex;
  align-items: center;
  min-width: max-content;
  margin-right: 2rem;
}

.chatbar_header_data {
  margin-left: 1rem;
  flex: 1 1;
  align-self: center;
  justify-self: center
}

.chatbar_header_right {
  color: rgb(158, 151, 151);
  display: flex;
  position: relative;
}
.chatbar_header_right > button {
  margin-right: 20px;
}

.chatbar_icon_border {
  border-right: 1px solid rgb(158, 151, 151);
}
