.sidebar {
  flex: 0.3;
  min-width: 22rem;
  border-right: 1px solid rgba(179, 176, 176, 0.534);
  background-color: white;
  height: 100%;
  position: relative;
}

.sidebar_new_chat {
  background-color: #ededed;
  padding: 1rem 1.5rem;
}
