.header {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 15px;
}
.header_icons {
    color: rgb(158, 151, 151);

}
.header_icons > .MuiSvgIcon-root:not(:last-child) {
    margin-right: 10px;
}